doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Stream
    meta(name='viewport', content='initial-scale=1.0, width=device-width, \
      height=device-height, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/bootswatch.css')    
    link(rel='stylesheet', href='/stylesheets/style.css')    
  body
    h1 Stream
    Text Waht's　This?
    br
    SNS Photo Stream for Enjoy 2020 Olympic 
    br
    br
    form
      input(id='msg', autocomplete='off', autofocus)
      button(type='submit') Send
    ul#messages
      - for(var i=0,ln=messages.length;i<ln;i++)      
          tr
            td(style='width: '+(100/4)+'%')
              .header.clearfix
                .who= messages[i].nickname
                .when= new Date(messages[i].when).toString().substr(0, 24)
              .msg= messages[i].msg
              br
    script(src='//cdn.jsdelivr.net/jquery/2.1.1/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/client.js')